<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL1X7r-ZozoXDpmrE92KdizNCceOKVRYk</string>
	<key>GCM_SENDER_ID</key>
	<string>829135899409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.runinmor</string>
	<key>PROJECT_ID</key>
	<string>run-in-mor-b47d5</string>
	<key>STORAGE_BUCKET</key>
	<string>run-in-mor-b47d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829135899409:ios:cc2e6f9e741b7cacafdab0</string>
</dict>
</plist>